<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />

    <title>go-wasm-dom editor</title>

    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.min.css'>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.css'>

    <style>[class*="foundicon-"] {font-family: GeneralFoundicons;font-style: normal;}</style>

    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor/dist/jsoneditor.min.js"></script>

</head>

<body>
<div class='container'>
    <div class='row'>
        <div class='span8 col-md-8 columns eight large-8 col s8'>
            <h2>go-wasm-dom data generator</h2>
            <p>?</p>
            <div id='editor'></div>
        </div>
        <div class='span4 col-md-4 columns four large-4 col s4'>
            <h2>Validation</h2>
            <textarea id='validate' style='width: 100%; height: 100px; font-family: monospace;' readonly disabled class='form-control'></textarea>
        </div>
    </div>
</div>
<script>
(function() {
    var schema;

    // Default starting schema
    if(!schema) {
        schema ={
            "title": "Person",
            "type": "object",
            "required": [
              "name",
              "age",
              "favorite_color",
              "gender",
              "location",
              "pets"
            ],
            "properties": {
                "name": {
                    "type": "string",
                    "description": "First and Last name",
                    "minLength": 4,
                    "default": "Jeremy Dorn"
                },
                "age": {
                    "type": "integer",
                    "default": 25,
                    "minimum": 18,
                    "maximum": 99
                },
                "favorite_color": {
                    "type": "string",
                    "format": "color",
                    "title": "favorite color",
                    "default": "#ffa500"
                },
                "gender": {
                    "type": "string",
                    "enum": ["male", "female"]
                },
                "location": {
                    "type": "object",
                    "title": "Location",
                    "properties": {
                        "city": {
                            "type": "string",
                            "default": "San Francisco"
                        },
                        "state": {
                            "type": "string",
                            "default": "CA"
                        },
                        "citystate": {
                            "type": "string",
                            "description": "This is generated automatically from the previous two fields",
                            "template": "{{city}}, {{state}}",
                            "watch": {
                                "city": "location.city",
                                "state": "location.state"
                            }
                        }
                    }
                },
                "pets": {
                    "type": "array",
                    "format": "table",
                    "title": "Pets",
                    "uniqueItems": true,
                    "items": {
                        "type": "object",
                        "title": "Pet",
                        "properties": {
                            "type": {
                                "type": "string",
                                "enum": ["cat","dog","bird","reptile","other"],
                                "default": "dog"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "default": [
                        {
                            "type": "dog",
                            "name": "Walter"
                        }
                    ]
                }
            }
        }
    }

    // Divs/textareas on the page

    var $editor = document.getElementById('editor');

    var $validate = document.getElementById('validate');

    var jsoneditor;

    var reload = function(keep_value) {

        var startval = (jsoneditor && keep_value)? jsoneditor.getValue() : window.startval;

        window.startval = undefined;

        if (jsoneditor) jsoneditor.destroy();

        jsoneditor = new JSONEditor($editor, { schema: schema, startval: startval });

        window.jsoneditor = jsoneditor;

        // When the value of the editor changes, update validation message

        jsoneditor.on('change',function() {

            var json = jsoneditor.getValue();

            var validation_errors = jsoneditor.validate();

            // Show validation errors if there are any
            if(validation_errors.length) {

                $validate.value = JSON.stringify(validation_errors,null,2);

            } else {

                $validate.value = 'valid';
            }
        });
    };

    // set options

    JSONEditor.defaults.options.theme = "foundation6";

    JSONEditor.defaults.options.iconlib = "fontawesome3";

    JSONEditor.defaults.options.object_layout = "normal"; // normal | grid

    JSONEditor.defaults.options.show_errors = "interaction"; // interaction | change | always | never

    // JSONEditor.defaults.options["?"] = true; // true | false
    //
    // required_by_default             Object properties required by default
    // display_required_only           Only show required properties by default
    // no_additional_properties        No additional object properties
    // ajax                            Allow loading schemas via Ajax
    // disable_edit_json               Disable "Edit JSON" buttons
    // disable_collapse                Disable collapse buttons
    // disable_properties              Disable properties buttons
    // disable_array_add               Disable array add buttons
    // disable_array_reorder           Disable array move buttons
    // disable_array_delete            Disable array delete buttons
    // disable_array_delete_all_rows   Disable array delete all rows buttons
    // disable_array_delete_last_row   Disable array delete last row buttons

    reload();

})();
</script>
<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.24.7'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>
